<p>Olá <%= @resource.email %>!</p>

<p>Alguém solicitou um link para mudar seu password. Você pode fazer isso usando o link abaixo.</p>

<p><%= link_to 'Mudar minha senha', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Se você não solicitou isso, por favor ignore esse email.</p>
<p>Seu password não irá mudar até que você acesse o link acima e crie um novo password.</p>
